body {
    font-family: "Raleway", sans-serif;
}

.container {
    padding: 20px;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

.card-img {
    margin-bottom: 20px;
    border-radius: 8px;
    width: auto;

    img {
        width: 500px;
        height: 400px;
        margin: 10px;
        border-radius: 0.3rem;
    }
}

.card-text {
    margin-bottom: 20px;
    border-radius: 8px;
    width: auto;
    overflow: hidden;
}

.card-img-top {
    object-fit: cover;
}

.card-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.icon-text-container {
    display: flex;
    flex-direction: row;

}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 8px;
}

i.fa-solid,
i.fa-brands {
    margin-right: 10px;
    font-size: 18px;
}


.title-detalle {

    h5 {
        font-size: 30px;
    }
}