body {
    font-family: "Raleway", sans-serif;
}

.container {
    padding: 20px;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}


.imgs {

    display: flex;
}

.img1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 400px;
    width: auto;
    margin: 10px;
}

.img2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    margin: 10px;

}

.img3 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    margin: 10px;
}

.title-propertie {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    margin: 15px;
    text-align: center;
}

.text-propertie {
    align-items: center;
    text-align: center;
    margin-top: 25px;
    text-align: left;
    font-size: 16px;
}

.price {
    align-items: center;
    text-align: center;
    margin-top: 25px;
    text-align: left;
    font-size: 20px;
    font-weight: 800;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #8c7569;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-properties {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.p-properties {
    align-items: baseline;
    text-align: center;
    margin-left: -20px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.btn-return-properties {
    margin-top: 250px;
    margin-left: 400px;
}