section {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    color: #8c7569;
    text-align: center;
}

h1,
h2,
h3 {
    color: #683c23;
}

.card-nosotros {
    cursor: pointer;

    outline: none;
    outline: 0;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.card-nosotros:hover {
    box-shadow: #683c23 0 3px 9px 0;
    transform: translateY(-10px);
}


.fondo-banner {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 300px;
    margin-bottom: 20px;
    background-color: #f6f3f0;

}

.icon-banner {
    font-size: 3rem;
    color: #55311c;
    justify-content: left;
    align-items: center;
}

.col-banner {
    text-align: left;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-banner {
    font-size: 40px;
    margin-bottom: 10px;
}

.img-banner-nosotros {
    background-image: url('../img/fondoInicio.jpg');
    background-position: 0% 60%;
    background-size: cover;
    background-repeat: repeat;

}

.img-section1-nosotros {
    background-image: url('../img/img5.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.img-section2-nosotros {
    background-image: url('../img/img8.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.titulo-banner {
    position: relative;
    color: aliceblue;

    h4 {
        color: #ffffff;
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 60px;

    }

}